/target/

# VSCode specific ignores
.vscode/*

# Java target ignores
documents/target/*
target/*

# MacOS specific ignores
.DS_Store

# Best Scores ignore
best_scores.json

# Eclipse specific ignores
.settings/
.classpath
.project


